body {
    margin: 0;
    background: #1B244A;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
      
}
h3 {
    font-size: 40px;
    text-align: center;
}
.score {
    background-color: black;
    height: 120px;
    width: 155px;
    font-size: 90px;
    color: red;
       display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.sojle {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
}